h1 {
font-family: Rounded M+ 1c;
}

button {
background-color: #4169E1;
border-radius: 10px;
width: 100px;
height: 50px;
font-family: Rounded M+ 1c;
color: white;
border: none;
font-size: 18px;
text-align: center;
  margin-top: 20px;
}

button {
  transition:all .3s;
}
button:active {
  color:#fff;
}

button:hover {
  background: #6495ED;
}

header {
  display: flex;
  width: 100%;
  height: 70px;
  background-color: #E0FFFF;
  align-items: center;
  border-radius: 10px;
  transition:all .3s;
}

.title {
  margin-right: auto;
  color: #1E90FF;
  transition:all .3s;
}

.menu-item {
  height: 30px;
  list-style: none;
  display: inline-block;
  padding: 10px;
  color: white;
  width: fit-content;
  margin: auto;
}

.btn {
  border-radius: 5px;
  background-color: #1E90FF;
  padding: 10px;
  text-decoration: none;
  color: white;
}

a {
  transition:all .3s;
}
a:active {
  color:#fff;
}

a:hover {
  background: #87CEEB;
}